@font-face{
    font-family: 'SeoulHangang';
    src:url('../SeoulHangang_ttf/SeoulHangang.ttf') format('truetype');
}
@font-face{
    font-family:'Dynalight';
    src:url('../font/Dynalight.ttf') format('truetype');
}
@font-face{
    font-family:'NanumSquare';
    src:url('../font/NanumSquare_acB.ttf') format('truetype');
}
html,body{
    font-family:'SeoulHangang';
    text-align:center;
    font-size:30PX;
}

.card-header{
    display:inline-block;
}
.title{
    font-family:'Dynalight' ;
    font-size:70px;
}
.header-nav{
    font-size:20px;
}
.header-nav>a{
    color:black;
    text-decoration:none;
    margin:5px;
}
.img-columns{
    text-align:center;
    margin:0 auto;
    vertical-align: top;
    list-style:none;
    display:inline-block;
    padding-inline-start: 0px;
    padding-inline-end:0px;
    
}
.img-card{
    position: relative;
    margin:10px;
    width:300px;
    /* display:inline-block; */
}
.img-card>img{
    width:100%;
}
.img-card>img:hover{
    filter:brightness(50%);
}
#modal-detail{
    font-size:20px;
    text-align:left;
    line-height: 150%;
}
#modal-detail{
    font-size:25px bold;
}
#modal{
    position: relative;
    display:none;
    width:300px;
    padding:50px; 
    background-color:#fefefe;
    border:1px solid #888;
    border-radius:3px;
}
#modal .modal_close_btn{
    position:absolute;
    top:10px;
    right:10px;
}
.inner-detail{
    display:none;
}

#modal-detail-img, #modal-title,#modal-detail{
    margin:10px;
}
