
body,html{
    margin:0 0;
}
#header{
    padding:33px 0;
    background-color: white;
    width:100%;
    position: fixed;
}
#main{
    padding:5% 0;
    margin-bottom:50px;
}
.main-in{
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/keyboard.jpeg);
    color:white;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    background-size: cover; 
    padding-bottom:10%;
}
.main-title{
    display:inline-block;
    padding:10%;
}
.main-title>h1{
    position: absolute;
    left:20%;
    top:30%;
    overflow: hidden;
    /* font-size: 100%; */
    border-right: .15em solid #fff;
    white-space: nowrap;
    /* keeps content in one line */
    letter-spacing: .15em;
    animation: typing 2.5s steps(22, end), blink-caret .75s step-end infinite;
}
#about-me{
    display:block;
    width:100%;
    text-align:left;
    background-color: black;
    color:white;
    padding:100px 0px;
    height:300px;

}
.about-me-title{
    display:inline-block;
    height: 100%;
    vertical-align: top;
    position: relative;
    margin:0 5%;
}
.about-me-title>span{
    position: relative;
    top:40%;
}
.about-me-content{
    display:inline-block;
    max-width:60%;
    text-align:left;
    font-size:25px;
}
.about-me-content-intro{
    color:#B8B2AB;
    font-size:20px;
    font-style:italic;
}
#skills{
    background-color:white;
    color:black;
    margin:50px 0;
}
.skills-in-item{
    display:inline-block;
    width:80px;
    height: 80px;
    margin:0 25px;
}
.skills-in-item:hover{
    filter:brightness(40%);
}
.skills-in-item>img{
    width:100%;
    height:100%;
}
#portfolio{
    width:100%;
    padding: 100px 0;
}
.portfolio-card{
    position: relative;
    width:500px;
    margin:10px;
    padding-bottom:20px;
    border:1px solid black;
}

.portfolio-col{
    display: inline-block;
    vertical-align: top;
}
.portfolio-img{
    display:inline-block;
    width:20%;
}
.portfolio-img>img{
    width:100%;
    border-radius: 50%;
}
.portfolio-text{
    width:300px;
    position: relative;
    left:2%;
    display: inline-block;
    text-align:left;
}
.portfolio-lang{
    color:#B8B2AB;
    font-size:20px;
    font-style:italic;
}
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 17em;
    }
}
@keyframes blink-caret {
    from, to {
      border-color: white;
    }
    0%,100%{
        border-color:transparent;
    }
    50%{
        border-color:white;
    }
}
