body,html{
    margin:0 0;
    width:100%;
    height:100%;
    background-color:#FAE7E1;
}
#nav{
    background-color:#B5B2B8;
    height:100%;
    width:15%;
    position: fixed;
    z-index: 100;
    /* background-color:#F7BDAB; */
}
#nav>a{
    display:block;
    font-size:30px;
    margin:40px 10px;
    text-align: center;
    text-decoration: none;
    color:black;
}

#nav>a:hover{
    color:#E7C2B6;
}
.my-ficture{
    width:90%;
}
.my-ficture>img{
    width:100%;
    border-radius: 13%;
}

#content{
    position: relative;
    left:15%;
    width:85%;
    height:100%;
}
/* home 화면 */
#home{
    display: block;
    position: absolute;
    left:0%;
    top:0px;
    width:100%;
    height:100%;
}
.home-in{
    margin:0 5%;
}
.home-first, .home-second, .home-third{
    margin: 50px 30px;
}
.title{
    display:block;
    font-size:50px;
    color:#DD9CA2;
    margin:15px 0px;
}
.detail{
    font-size:25px;
    color:#7F7F7F;
    font-style: italic;
}
.attachment{
    position: relative;
    display:block;
    width:fit-content;
    border-radius: 10%;
    padding:15px 15px;
    color:white;
    background-color:#E7C2B6;
    text-decoration: none;
}
.home-third>.title{
    display: inline-block;
}
.paper-plane{
    width:60px;
    display:inline-block;
}
.paper-plane>img{
    width:100%;
}
.input-text{
    background-color:#E7C2B6 ;
    border:none;
    font-size:20px;
    /* margin-bottom:10px; */
    margin:10px 5px 10px 0;
    color:white;
}
textarea{
    resize:none;
}
.contact-name,.contact-submit{
    padding:10px 0;
    width:100px;
}
.contact-email, .contact-num{
    padding:10px 0;
}
.contact-submit{
    vertical-align: bottom;
    position: relative;
    bottom: 4px;
}
.contact-textarea{
    display:inline-block;
    width:605px;
    height:150px;
}
.contact-img{
    width:60px;
    height: 60px;
    margin-right:20px;

}
/* about me 화면 */
#about-me{
    height:100%;
    width:100%;
}
.about-me-in{
    position: absolute;
    left:7%;
    top:10%;
}
.skills-in-item{
    display:inline-block;
    width:100px;
    height: 100px;
    margin:10px;
}
.skills-in-item:hover{
    filter:brightness(40%);
}
.skills-in-item>img{
    width:100%;
    height:100%;
}
.who-am-i, .skill{
    display:inline-block;
    margin-right:50px;
}
.who-am-i{
    vertical-align: top;
}
/* experiences 화면 */

#experiences{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.experiences-in{
    margin:20px;
}
.card{
    display:inline-block;
    background-color:#E7C2B6;
}
.portfolio-card{
    position: relative;
    width:255px;
    height:340px;
}
.award-card{
    position: relative;
    width:300px;
    height:340px;
    margin-right: 5px;
}
.img-in-card{
    position: absolute;
    left:10%;
    top:5%;
    width:200px;
    height:200px;
}
.img-in-card>img{
    width:100%;
    height:100%;
    border-radius: 10%;
}
.text-in-card{
    position: absolute;
    left:10%;
    bottom:5%;
}
.title-in-card,.detail-in-card,.lang-in-card{
    /* margin-top:5px; */
    /* margin-bottom:5px; */
    margin:10px 0;
}
.award-card>.img-in-card{
    width:267px;
    left:5%;
    top:8%;
}
.award-card>.text-in-card{
    bottom:2%;
}
.title-in-card{
    font-size:25px;
}
.detail-in-card{
    font-size:15px;
}
.lang-in-card{
    color:#7F7F7F;
    font-style:italic;
}
/* 게시판 */
#board{
    position: absolute;
    left:0%;
    top:0px;
    height:100%;
    width:100%;
}
.board-in{
    position: relative;
    top:10%;
    left:10%;
    display: inline-block;
    width:70%;
    height:60%;
}
.board-title{
    text-align:center;
}
.board-table{
    position: relative;
    display:block;
    padding-bottom:50px;
    width:100%;
}
.board-table>table{
    width:100%;
}
.column-name{
    background-color: #E7C2B6;
}
.column-name>td{
    padding:10px 0;
    color:white;
}
td{
    text-align:center;    
    font-size:20px;
}
td>a{
    text-decoration: none;
    color:black;
}
.board-btn{
    padding:10px 10px;
    background-color:#E7C2B6;
    border:none;
    border-radius: 5px;
}
#id-write-button{
    position: absolute;
    display:block;
    right:0px;
    bottom:-10px;
    color:white;
    font-size:15px;
    padding:15px;
}
/* 글쓰기 화면 */
#write{
    position: absolute;
    left:0%;
    top:0px;
    height:100%;
    width:100%;
    text-align:center;
}
.write-in{
    display:inline-block;
    position: relative;
    top:10%;
}
.write-text-field{
    height:40px;
    font-size:25px;
}
.write-row>div{
    display:inline-block;
}
.write-row-label{
    font-size:25px;
}
.write-select-box{
    height:45px;
}
.name-text-field{
    width:140px;
}
.pw-text-field{
    width:130px;
}
.title-text-field{
    width:570px;
}
.textarea-field{
    width:630px;
    height:400px;
}
.write-insert-btn{
    display:block;
    width:500px;
    padding:8px 0;
    font-size:25px;
    margin: 0 auto;
}
/* show-diary */
#id-board-edit,#id-edit,#id-board-delete{
    display:inline-block;
    width:200px;
    height:50px;
    font-size:20px;
    margin:0;
}
#id-edit{
    display:none;
    margin: 0 auto;
}