body,html{
    margin:0 0;
    width:100%;
    height:100%;
    background-color:#FAE7E1;
}
#nav{
    background-color:#B5B2B8;
    height:100%;
    width:15%;
    position: fixed;
    z-index: 100;
    /* background-color:#F7BDAB; */
}
#nav>li{
    list-style-type: none;
    font-size:30px;
    margin:40px 10px;
    /* position: relative;
    top:30%; */
    text-align: center;
}
#nav>li:hover{
    color:#E7C2B6;
}
#content{
    position: relative;
    left:15%;
    width:85%;
    height:100%;
}
#home{
    width:100%;
    height:100%;
    display: block;
}

#about-me{
    display:none;
    height:100%;
    width:100%;
}
.my-ficture{
    width:250px;
    height:250px;
    position: relative;
    left:10%;
}
.my-ficture>img{
    width:100%;
    height: 100%;
    border-radius: 13%;
}